.text-form{
    width:50%;
    margin:200px auto;

    padding:50px 30px;
    text-align:center;
    background-color: #e5e5e5;
    border-radius: 4px;
}
.text-wrapper{
    width:75%;
}
.submit-button-wrapper{
    width:15%;
}
.text-wrapper,.submit-button-wrapper{
    float:left;
    margin:0px 5px;
}
.text{
    height:25px;
    vertical-align:middle;
}
.submit-button{
    background-color:#5cb85c;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border: 1px solid #5cb85c;
    height:30px;
    color: white;
    vertical-align:middle;
}

.form-wrapper{
    width:65%;
    text-align:center;
    margin:auto;
    padding:0 auto;
}

.submit-button-wrapper{
    clear:right;
}